Repository HopkinsIDD/flepiMoP, pull requests merged in 2024-10, with the labels that each got.

#338 Main state fits
  build/local_install.R
  flepimop/R_packages/flepiconfig/R/yaml_utils.R
  flepimop/R_packages/inference/R/functions.R
  flepimop/R_packages/inference/R/inference_slot_runner_funcs.R
  flepimop/main_scripts/inference_slot.R
Labels: bug, inference, high priority

#347 Add emcee functionality to flepiconfig writer options in print_inference_statistics
  flepimop/R_packages/flepiconfig/R/yaml_utils.R
Labels: enhancement, low priority, quick issue, flepiconfig

#304 Document/Unit Test `gempyor.statistics`
  flepimop/gempyor_pkg/src/gempyor/statistics.py
  flepimop/gempyor_pkg/tests/statistics/test_statistic_class.py
Labels: bug, enhancement, gempyor, docstring

#280 Split `ci.yml` into separate actions
  .github/workflows/ci.yml
  .github/workflows/flepicommon-ci.yml
  .github/workflows/gempyor-ci.yml
  .github/workflows/inference-ci.yml
Labels: high priority, quick issue, meta/workflow

#329 Generic HPC Install Script
  .github/workflows/conda-env.yml
  batch/hpc_init.sh
  build/create_environment_yml.R
  build/hpc_install_or_update.sh
  environment.yml
  flepimop/R_packages/flepiconfig/DESCRIPTION
  flepimop/R_packages/inference/DESCRIPTION
  flepimop/R_packages/inference/R/install_cli.R
Labels: batch, installation

#376 Skip CI For Draft PRs
  .github/workflows/flepicommon-ci.yml
  .github/workflows/gempyor-ci.yml
  .github/workflows/inference-ci.yml
Labels: quick issue, meta/workflow
