Repository HopkinsIDD/flepiMoP, pull requests merged in 2024-12, with the labels that each got.

#289 modified to capture stdout and stderr to log in using system2() being…
  flepimop/R_packages/inference/inst/scripts/flepimop-inference-main.R
Labels: bug, r-inference, low priority

#405 Casting bound values as `float` in `inference_parameter.py` to prevent parsing errors
  flepimop/gempyor_pkg/src/gempyor/inference_parameter.py
Labels: bug, gempyor, config, low priority, quick issue

#420 Correct Formula For Poisson Log-Likelihood
  flepimop/gempyor_pkg/src/gempyor/statistics.py
  flepimop/gempyor_pkg/tests/statistics/test_statistic_class.py
Labels: gempyor, high priority, quick issue, next release

#423 `flepimop patch` Abilities And Documentation
  documentation/gitbook/how-to-run/multi-configs.md
  flepimop/gempyor_pkg/src/gempyor/cli.py
  flepimop/gempyor_pkg/src/gempyor/shared_cli.py
  flepimop/gempyor_pkg/src/gempyor/simulate.py
  flepimop/gempyor_pkg/src/gempyor/utils.py
  flepimop/gempyor_pkg/tests/cli/test_flepimop_patch_cli.py
  flepimop/gempyor_pkg/tests/shared_cli/test_parse_config_files.py
  flepimop/gempyor_pkg/tests/utils/test__dump_formatted_yaml.py
Labels: bug, documentation, gempyor, high priority, next release

#426 Add explicit types to `pull_request` trigger
  .github/workflows/conda-env.yml
  .github/workflows/flepicommon-ci.yml
  .github/workflows/gempyor-ci.yml
  .github/workflows/inference-ci.yml
  .github/workflows/lint.yml
Labels: bug, high priority, quick issue, meta/workflow
