Repository HopkinsIDD/flepiMoP, pull requests merged in 2025-07, with the labels that each got.

#580 Split `gempyor CI` workflow into "not slow" and "slow" test groups
  .github/workflows/gempyor-ci.yml
  flepimop/gempyor_pkg/pyproject.toml
  flepimop/gempyor_pkg/tests/outcomes/test_run_parallel_outcomes.py
  flepimop/gempyor_pkg/tests/seir/test_run_parallel_SEIR.py
  flepimop/gempyor_pkg/tests/seir/test_seir.py
  flepimop/gempyor_pkg/tests/shared_cli/test_cli.py
  flepimop/gempyor_pkg/tests/simulate/test_random_parameter_draws.py
Labels: gempyor, low priority, meta/workflow, next release

#585 Fix `UnboundLocalError` error in `onerun_SEIR`
  flepimop/gempyor_pkg/src/gempyor/seir.py
Labels: bug, gempyor, low priority, quick issue, next release

#584 Incorporate `gempyor.distributions` into `gempyor.parameters`
  flepimop/gempyor_pkg/src/gempyor/NPI/MultiPeriodModifier.py
  flepimop/gempyor_pkg/src/gempyor/NPI/SinglePeriodModifier.py
  flepimop/gempyor_pkg/src/gempyor/_pydantic_ext.py
  flepimop/gempyor_pkg/src/gempyor/distributions.py
  flepimop/gempyor_pkg/src/gempyor/inference_parameter.py
  flepimop/gempyor_pkg/src/gempyor/outcomes.py
  flepimop/gempyor_pkg/src/gempyor/parameters.py
  flepimop/gempyor_pkg/src/gempyor/utils.py
  flepimop/gempyor_pkg/tests/_pydantic_ext/test__evaled_expression.py
  flepimop/gempyor_pkg/tests/distributions/test_distributions_common.py
  flepimop/gempyor_pkg/tests/parameters/test_parameters_class.py
  flepimop/gempyor_pkg/tests/seir/test_parameters.py
  flepimop/gempyor_pkg/tests/utils/test_get_log_normal.py
  flepimop/gempyor_pkg/tests/utils/test_get_truncated_normal.py
  flepimop/gempyor_pkg/tests/utils/test_random_distribution_sampler.py
  flepimop/gempyor_pkg/tests/utils/test_utils.py
  flepimop/gempyor_pkg/tests/utils/test_utils2.py
Labels: enhancement, gempyor, high priority, next release
