Repository HopkinsIDD/flepiMoP, pull requests merged in 2025-01, with the labels that each got.

#453 Add CLI Issue Label To Templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: low priority, quick issue, meta/workflow

#447 Initial Logging Infrastructure
  flepimop/gempyor_pkg/src/gempyor/logging.py
  flepimop/gempyor_pkg/src/gempyor/shared_cli.py
  flepimop/gempyor_pkg/tests/logging/test__get_logging_level.py
  flepimop/gempyor_pkg/tests/logging/test_click_handler_class.py
  flepimop/gempyor_pkg/tests/logging/test_get_script_logger.py
  flepimop/gempyor_pkg/tests/shared_cli/test_log_cli_inputs.py
Labels: enhancement, gempyor, medium priority, next release

#414 Remove Dead Methods From `gempyor.parameters.Parameters`
  flepimop/gempyor_pkg/src/gempyor/parameters.py
  flepimop/gempyor_pkg/tests/parameters/test_parameters_class.py
Labels: gempyor, low priority, quick issue, next release

#446 Jinja2 Templating Infra
  flepimop/gempyor_pkg/pyproject.toml
  flepimop/gempyor_pkg/src/gempyor/_jinja.py
  flepimop/gempyor_pkg/src/gempyor/templates/__init__.py
  flepimop/gempyor_pkg/src/gempyor/templates/test_template.j2
  flepimop/gempyor_pkg/tests/_jinja/test__render_template_to_file.py
  flepimop/gempyor_pkg/tests/_jinja/test__render_template_to_temp_file.py
Labels: enhancement, gempyor, batch, medium priority, next release

#448 Duration/Memory Convenience Click Types
  flepimop/gempyor_pkg/src/gempyor/_click.py
  flepimop/gempyor_pkg/src/gempyor/shared_cli.py
  flepimop/gempyor_pkg/tests/_click/test_duration_param_type_class.py
  flepimop/gempyor_pkg/tests/_click/test_memory_param_type_class.py
Labels: enhancement, gempyor, medium priority, next release

#422 Remove `gempyor.seeding` Dependence On `gempyor.model_info.ModelInfo`
  flepimop/gempyor_pkg/docs/integration_benchmark.ipynb
  flepimop/gempyor_pkg/docs/integration_doc.ipynb
  flepimop/gempyor_pkg/docs/interface.ipynb
  flepimop/gempyor_pkg/src/gempyor/dev/dev_seir.py
  flepimop/gempyor_pkg/src/gempyor/inference.py
  flepimop/gempyor_pkg/src/gempyor/model_info.py
  flepimop/gempyor_pkg/src/gempyor/seeding.py
  flepimop/gempyor_pkg/src/gempyor/seir.py
  flepimop/gempyor_pkg/tests/seir/interface.ipynb
  flepimop/gempyor_pkg/tests/seir/test_seeding.py
  flepimop/gempyor_pkg/tests/seir/test_seir.py
Labels: enhancement, gempyor, medium priority, docstring, next release

#471 Fix R CI Actions With Ubuntu 22 To 24 Update
  .github/workflows/flepicommon-ci.yml
  .github/workflows/inference-ci.yml
Labels: r-inference, high priority, meta/workflow, r-flepicommon

#481 Consistent Xarray NaN To Int Coersion
  flepimop/gempyor_pkg/src/gempyor/statistics.py
Labels: bug, gempyor, high priority, quick issue, inference

#486 Manifest JSON Writing Utility
  flepimop/gempyor_pkg/src/gempyor/batch.py
  flepimop/gempyor_pkg/src/gempyor/utils.py
  flepimop/gempyor_pkg/tests/batch/test_write_manifest.py
  flepimop/gempyor_pkg/tests/utils/test__git_head.py
  flepimop/gempyor_pkg/tests/utils/test__shutil_which.py
Labels: enhancement, gempyor, batch, high priority, quick issue, next release

#455 Cluster Info
  .github/workflows/gempyor-ci.yml
  .github/workflows/lint.yml
  .gitignore
  flepimop/gempyor_pkg/pyproject.toml
  flepimop/gempyor_pkg/src/gempyor/info.py
  flepimop/gempyor_pkg/tests/info/test__get_info.py
  flepimop/gempyor_pkg/tests/info/test__infer_cluster_from_fqdn.py
  flepimop/gempyor_pkg/tests/info/test_get_cluster_info.py
  info/cluster/longleaf.yml
  info/cluster/rockfish.yml
  info/cluster/schema.yml
Labels: enhancement, gempyor, batch, high priority, next release

#488 Initial Job Sizing Infrastructure
  flepimop/gempyor_pkg/src/gempyor/batch.py
  flepimop/gempyor_pkg/tests/batch/test_get_batch_system.py
  flepimop/gempyor_pkg/tests/batch/test_job_resources_class.py
  flepimop/gempyor_pkg/tests/batch/test_local_batch_system.py
  flepimop/gempyor_pkg/tests/batch/test_register_batch_system.py
  flepimop/gempyor_pkg/tests/batch/test_slurm_batch_system.py
Labels: enhancement, gempyor, batch, high priority, next release

#468 `gempyor` API docstring refurbishment
  flepimop/gempyor_pkg/src/gempyor/calibrate.py
  flepimop/gempyor_pkg/src/gempyor/cli.py
  flepimop/gempyor_pkg/src/gempyor/compartments.py
  flepimop/gempyor_pkg/src/gempyor/inference.py
  flepimop/gempyor_pkg/src/gempyor/model_info.py
  flepimop/gempyor_pkg/src/gempyor/parameters.py
Labels: gempyor, high priority, quick issue, docstring, next release
