Repository HopkinsIDD/flepiMoP, pull requests merged in 2025-02, with the labels that each got.

#428 Adding `check_parameter_positivity()` function to `seir.py`
  flepimop/gempyor_pkg/src/gempyor/seir.py
  flepimop/gempyor_pkg/tests/seir/test_seir.py
Labels: enhancement, gempyor, low priority, quick issue, next release

#492 fix issue: seeding is incorrect when there are more subpop in the seeding file than in ModelInfo
  flepimop/gempyor_pkg/src/gempyor/seeding.py
Labels: bug, high priority, seeding

#460 flepimop.org documentation updates for information pertaining to new users
  batch/hpc_init.sh
  documentation/gitbook/gempyor/output-files.md
  documentation/gitbook/how-to-run/advanced-run-guides/quick-start-guide-conda.md
  documentation/gitbook/how-to-run/advanced-run-guides/running-on-a-hpc-with-slurm.md
  documentation/gitbook/how-to-run/advanced-run-guides/running-on-aws.md
  documentation/gitbook/how-to-run/advanced-run-guides/running-with-docker-locally.md
  documentation/gitbook/how-to-run/advanced-run-guides/slurm-submission-on-marcc.md
  documentation/gitbook/how-to-run/before-any-run.md
  documentation/gitbook/how-to-run/quick-start-guide.md
  documentation/gitbook/how-to-run/useful-commands.md
  documentation/gitbook/jhu-internal/us-specific-how-to-run/running-with-docker-locally.md
  documentation/gitbook/jhu-internal/us-specific-how-to-run/running-with-docker-on-aws/aws-submission-instructions-covid-19.md
  documentation/gitbook/jhu-internal/us-specific-how-to-run/running-with-docker-on-aws/aws-submission-instructions-influenza.md
  documentation/gitbook/jhu-internal/us-specific-how-to-run/slurm-submission-on-marcc.md
  documentation/gitbook/model-inference/inference-model-output.md
  documentation/gitbook/more/setting-up-the-model-and-post-processing/create-a-post-processing-script.md
  examples/tutorials/README.md
  examples/tutorials/model_output_notebook.Rmd
  flepimop/R_packages/inference/inst/scripts/flepimop-inference-main.R
  flepimop/R_packages/inference/inst/scripts/flepimop-inference-slot.R
Labels: documentation, medium priority, next release

#480 Purging `data_path` from flepiMoP
  datasetup/build_US_setup.R
  datasetup/build_nonUS_setup.R
  documentation/gitbook/gempyor/model-implementation/other-configuration-options.md
  documentation/gitbook/gempyor/model-implementation/specifying-population-structure.md
  documentation/gitbook/model-inference/inference-implementation/configuration-options.md
  documentation/gitbook/more/setting-up-the-model-and-post-processing/config-writer.md
  flepimop/R_packages/flepicommon/R/config_test_new.R
  flepimop/R_packages/flepiconfig/R/yaml_utils.R
  flepimop/R_packages/flepiconfig/tests/testthat/sample_config.yml
  flepimop/R_packages/inference/R/documentation.Rmd
  flepimop/R_packages/inference/R/groundtruth.R
  flepimop/R_packages/inference/tests/testthat/test-get_ground_truth_file.R
  flepimop/gempyor_pkg/src/gempyor/model_info.py
  flepimop/gempyor_pkg/src/gempyor/simulate.py
  flepimop/gempyor_pkg/tests/seir/test_seir.py
  flepimop/main_scripts/create_seeding.R
  flepimop/main_scripts/create_seeding_added.R
  flepimop/main_scripts/seir_init_immuneladder.R
  postprocessing/postprocess_auto.py
  postprocessing/postprocess_snapshot.R
  preprocessing/seir_init_immuneladder_r17phase3.R
  preprocessing/seir_init_immuneladder_r17phase3_preOm.R
  preprocessing/seir_init_immuneladder_r17phase3_preOm_noDelta.R
Labels: documentation, medium priority, next release, cli

#499 Only require `seeding_file_type` for 'FolderDraw'
  flepimop/gempyor_pkg/src/gempyor/model_info.py
  flepimop/gempyor_pkg/tests/seir/test_seeding.py
Labels: bug, gempyor, medium priority, seeding, next release

#489 Requirements By Job Type And `BatchSystem.submit`
  flepimop/gempyor_pkg/src/gempyor/batch.py
  flepimop/gempyor_pkg/src/gempyor/testing.py
  flepimop/gempyor_pkg/src/gempyor/utils.py
  flepimop/gempyor_pkg/tests/batch/test__job_resources_from_size_and_inference.py
  flepimop/gempyor_pkg/tests/batch/test__submit_via_subprocess.py
  flepimop/gempyor_pkg/tests/batch/test_local_batch_system.py
  flepimop/gempyor_pkg/tests/batch/test_register_batch_system.py
  flepimop/gempyor_pkg/tests/batch/test_slurm_batch_system.py
  flepimop/gempyor_pkg/tests/utils/test__format_cli_options.py
Labels: gempyor, batch, high priority, next release

#419 Ops UX Improvements To Install And Init
  batch/hpc_init
  build/hpc_install_or_update
  documentation/gitbook/how-to-run/advanced-run-guides/running-on-a-hpc-with-slurm.md
Labels: documentation, batch, low priority, quick issue, next release, cli

#503 Deleting `gempyor/dev` directory
  flepimop/gempyor_pkg/src/gempyor/dev/__init__.py
  flepimop/gempyor_pkg/src/gempyor/dev/dev_outcome.py
  flepimop/gempyor_pkg/src/gempyor/dev/dev_seir.py
  flepimop/gempyor_pkg/src/gempyor/dev/steps.py
  flepimop/gempyor_pkg/src/gempyor/seir.py
Labels: bug, gempyor, medium priority, quick issue, next release

#496 `batch-calibrate` Action
  flepimop/gempyor_pkg/src/gempyor/batch.py
  flepimop/gempyor_pkg/src/gempyor/cli.py
  flepimop/gempyor_pkg/src/gempyor/info.py
  flepimop/gempyor_pkg/src/gempyor/shared_cli.py
  flepimop/gempyor_pkg/src/gempyor/templates/cluster_setup.bash.j2
  flepimop/gempyor_pkg/src/gempyor/templates/conda_activate.bash.j2
  flepimop/gempyor_pkg/src/gempyor/templates/emcee_inference_command.bash.j2
  flepimop/gempyor_pkg/src/gempyor/templates/r_inference_command.bash.j2
  flepimop/gempyor_pkg/src/gempyor/templates/sbatch_submit_command.bash.j2
  flepimop/gempyor_pkg/src/gempyor/templates/submit_command.bash.j2
  flepimop/gempyor_pkg/src/gempyor/utils.py
  flepimop/gempyor_pkg/tests/batch/test__job_name.py
  flepimop/gempyor_pkg/tests/batch/test__job_resources_from_size_and_inference.py
  flepimop/gempyor_pkg/tests/batch/test__parse_extra_options.py
  flepimop/gempyor_pkg/tests/batch/test__resolve_batch_system_name.py
  flepimop/gempyor_pkg/tests/batch/test__submit_via_subprocess.py
  flepimop/gempyor_pkg/tests/batch/test_batch_system_class.py
  flepimop/gempyor_pkg/tests/batch/test_job_size_class.py
  flepimop/gempyor_pkg/tests/batch/test_local_batch_system.py
  flepimop/gempyor_pkg/tests/batch/test_slurm_batch_system.py
  flepimop/gempyor_pkg/tests/info/test__infer_cluster_from_fqdn.py
  flepimop/gempyor_pkg/tests/templates/test_cluster_setup_bash.py
  flepimop/gempyor_pkg/tests/templates/test_conda_activate_bash.py
  flepimop/gempyor_pkg/tests/templates/test_emcee_inference_command_bash.py
  flepimop/gempyor_pkg/tests/templates/test_r_inference_command_bash.py
  flepimop/gempyor_pkg/tests/templates/test_sbatch_submit_command_bash.py
  flepimop/gempyor_pkg/tests/templates/test_submit_command_bash.py
  flepimop/gempyor_pkg/tests/utils/test__git_checkout.py
Labels: documentation, enhancement, batch, high priority, inference, next release, cli

#507 Update `pylint` Workflow
  .github/workflows/lint.yml
  flepimop/gempyor_pkg/.pylintrc
Labels: enhancement, gempyor, medium priority, meta/workflow, next release

#513 Feb25 Release Typos
  documentation/gitbook/how-to-run/advanced-run-guides/slurm-submission-on-marcc.md
  documentation/gitbook/model-inference/inference-implementation/configuration-options.md
  examples/tutorials/model_output_notebook.Rmd
  flepimop/R_packages/inference/inst/scripts/flepimop-inference-main.R
  flepimop/R_packages/inference/inst/scripts/flepimop-inference-slot.R
Labels: documentation, high priority, next release

#506 Batch Resource Estimation
  documentation/gitbook/how-to-run/advanced-run-guides/running-on-a-hpc-with-slurm.md
  flepimop/gempyor_pkg/src/gempyor/batch.py
  flepimop/gempyor_pkg/src/gempyor/batch/__init__.py
  flepimop/gempyor_pkg/src/gempyor/batch/_cli.py
  flepimop/gempyor_pkg/src/gempyor/batch/_estimate.py
  flepimop/gempyor_pkg/src/gempyor/batch/_helpers.py
  flepimop/gempyor_pkg/src/gempyor/batch/_inference.py
  flepimop/gempyor_pkg/src/gempyor/batch/_submit.py
  flepimop/gempyor_pkg/src/gempyor/batch/manifest.py
  flepimop/gempyor_pkg/src/gempyor/batch/systems.py
  flepimop/gempyor_pkg/src/gempyor/batch/types.py
  flepimop/gempyor_pkg/src/gempyor/cli.py
  flepimop/gempyor_pkg/src/gempyor/constants.py
  flepimop/gempyor_pkg/tests/batch/_estimate/test__create_estimate_job_size_from_reference.py
  flepimop/gempyor_pkg/tests/batch/_estimate/test__generate_job_sizes_grid.py
  flepimop/gempyor_pkg/tests/batch/_helpers/test__format_resource_bounds.py
  flepimop/gempyor_pkg/tests/batch/_helpers/test__job_name.py
  flepimop/gempyor_pkg/tests/batch/_helpers/test__parse_extra_options.py
  flepimop/gempyor_pkg/tests/batch/_inference/test__job_resources_from_size_and_inference.py
  flepimop/gempyor_pkg/tests/batch/manifest/test_write_manifest.py
  flepimop/gempyor_pkg/tests/batch/systems/test__resolve_batch_system_name.py
  flepimop/gempyor_pkg/tests/batch/systems/test__submit_via_subprocess.py
  flepimop/gempyor_pkg/tests/batch/systems/test_batch_system_class.py
  flepimop/gempyor_pkg/tests/batch/systems/test_get_batch_system.py
  flepimop/gempyor_pkg/tests/batch/systems/test_local_batch_system.py
  flepimop/gempyor_pkg/tests/batch/systems/test_register_batch_system.py
  flepimop/gempyor_pkg/tests/batch/systems/test_slurm_batch_system.py
  flepimop/gempyor_pkg/tests/batch/test_slurm_batch_system.py
  flepimop/gempyor_pkg/tests/batch/types/test_estimation_settings_class.py
  flepimop/gempyor_pkg/tests/batch/types/test_job_resources_class.py
  flepimop/gempyor_pkg/tests/batch/types/test_job_size_class.py
Labels: enhancement, gempyor, batch, high priority, next release

#514 Change `_render_template_to_file` return type
  flepimop/gempyor_pkg/src/gempyor/_jinja.py
  flepimop/gempyor_pkg/tests/_jinja/test__render_template_to_file.py
Labels: enhancement, gempyor, high priority, quick issue

#515 HPC Init Conda Display
  batch/hpc_init
Labels: bug, batch, medium priority, quick issue, next release, cli
