Repository HopkinsIDD/flepiMoP, pull requests merged in 2025-04, with the labels that each got.

#541 fix likelihoods and adjust syntax for readability #537
  flepimop/gempyor_pkg/src/gempyor/statistics.py
  flepimop/gempyor_pkg/tests/statistics/test_statistic_class.py
Labels: bug, gempyor, high priority, inference, next release

#429 Random Draws For SEIR Parameters Per Slot
  examples/tutorials/config_sample_2pop_modifiers_test_random.yml
  examples/tutorials/config_sample_2pop_modifiers_test_random_subpop_groups.yml
  flepimop/gempyor_pkg/src/gempyor/outcomes.py
  flepimop/gempyor_pkg/src/gempyor/parameters.py
  flepimop/gempyor_pkg/src/gempyor/seir.py
  flepimop/gempyor_pkg/src/gempyor/testing.py
  flepimop/gempyor_pkg/src/gempyor/utils.py
  flepimop/gempyor_pkg/tests/data/run_parallel_test_script.py
  flepimop/gempyor_pkg/tests/outcomes/test_run_parallel_outcomes.py
  flepimop/gempyor_pkg/tests/parameters/test_parameters_class.py
  flepimop/gempyor_pkg/tests/seir/test_run_parallel_SEIR.py
  flepimop/gempyor_pkg/tests/simulate/test_random_parameter_draws.py
  flepimop/gempyor_pkg/tests/utils/test__nslots_random_seeds.py
  flepimop/gempyor_pkg/tests/utils/test__random_seeds_list.py
  flepimop/gempyor_pkg/tests/utils/test_extract_slot.py
Labels: bug, gempyor, medium priority, next release

#542 patch in simulations being able to select subpops
  documentation/gitbook/gempyor/model-implementation/specifying-population-structure.md
  examples/tutorials/config_sample_2pop_stochastic.yml
  flepimop/gempyor_pkg/src/gempyor/shared_cli.py
  flepimop/gempyor_pkg/tests/shared_cli/test_parse_config_files.py
Labels: gempyor, config, medium priority, next release, cli

#557 Fix empty import in `gempyor.sync._sync`
  flepimop/gempyor_pkg/src/gempyor/sync/_sync.py
Labels: bug, gempyor, high priority, cli
